p There are {{notifications.length}} notifications
table.condensed
    thead
        td id
        td ts
        td url
    tr(ng-repeat='noti in notifications')
        td {{noti._id}}
        td {{noti.ts}}
        td {{noti.url}}
