extends layout

block content
    h1= title
        p Welcome to #{title}

    form(method="post")
        p
            label(for="url") URL:
            input(type="text", name="url")
        p
            label(for="method") Method:
            input(type="text", name="method")
        p
            label(for="data") Data:
            input(type="text", name="data")
        p.buttons
            input(type="submit", value="Save")

    
